//colors
$orange: #ef8b22;
$grey: #a2a2a2;
$darkGrey: #27343d;
$black: #000000;
$white: #ffffff;
$green: #69995d;
$blue: #0a81d1;
$lightBlue: #22baef;
$primary-font-color: #3d4042;


//typography
$primary-font-family: 'Roboto',
sans-serif;